__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.apk
*.aab
*.keystore
bin/
.hg/
*.prof
*.spec.bak
build-log*.zip
build-log-extracted*/
build-log-latest*/
bl*/
voices/kokoro_model/
*.wav
test_output.wav

bl*.zip
build-log-*/
